body {
  background-color: #f9f9f9;
}
html {
  font-family: 'Muli', sans-serif !important;
  font-weight: normal;
  line-height: 1.5;
  color: #6b6f82;
}

.btn {
  background-color: #ff4081;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #ff4081;
}
.sidenav-main {
  position: fixed;
  width: 260px;
  height: 100%;
  top:0;
  z-index: 999;
  transition: .3s ease all;
}
.container {
  width: 100%; 
  padding: 0 .5rem;
}

#main {
  padding-left: 260px;
}

.sidenav {
  width: inherit;
  top: 64px;
}

.brand-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 64px;
  background: #fff;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2); 
  backface-visibility: hidden;
}

.brand-sidebar .logo-wrapper a.brand-logo img {
  height: 30px;
}
.brand-sidebar .logo-wrapper {
  font-size: 3rem;
  line-height: 17px !important;
  margin: 0;
  white-space: nowrap;
}

.brand-sidebar .brand-logo {
  font-size: 2.1rem;
  line-height: 0;
  position: absolute;
  display: inline-block;
  margin: 1px 0;
  padding: 17px 15px;
  color: #333;
}

.brand-sidebar span.logo-text {
  font-size: 24px;
  padding-left:8px;
  position:relative;
  bottom:6px;
  visibility: visible;
  transition: opacity .2s linear;
  opacity: 1;
}

.top-bar nav {
  background-color: #fff;
}

.sidenav .badge {
  color: #fff;
}
span.badge.pill {
  font-size: .8rem;
  min-width: 1rem;
  border-radius: 8px;
}

.navbar .no-shadow {
  box-shadow: none;
}

.card .card-content .card-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.row .col {
  padding: 0 1rem;
}
#main .content-wrapper-before {
  position: absolute;
  z-index: -1;
  top: 64px;
  left: 0;
  width: 100%;
  height: 185px;
  transition: .3s ease all;
}
 
.gradient-45deg-indigo-purple {
  background: linear-gradient(45deg, #303f9f, #7b1fa2);
}

#breadcrumbs-wrapper {
  padding-top: 2%;
}

.card-discogs .input-field>label {
  color: #fff;
}

#add_artist, 
#add_album_title {
  color: #fff;
}

#ds_album_title.valid,
#ds_artist_name,
#ds_artist_name.valid {
  color: #fff;
  border-bottom: #fff;
  box-shadow: 0 1px 0 0 #fff;
}

#ds_album_title:focus+label,
#ds_artist_name:focus+label {
  color: #fff;
}

#drop {
  padding: 40px 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 20px dotted rgba(225, 20, 210, 0.40);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7f858a;
}

.term-screen {
  width: 250px;
  height: 150px;
  background-color:#000;
  color: #fff;
  font-family: monospace;
}

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('mini-upload-form/assets/img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}
